@using NewsWebCrawler.Models
@model TeamViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="jumbotron">
    <h1>Your Favorite Teams<br /></h1>
    <h3 class="lead">Only News About Your Team!</h3>
</div>


<!--Foreach through each team and display the following properties:
    Results:
    News Articles:

    -->
<form id="team_picker" class="col-md-4 col-md-offset-4">
    <label for="team_pick">Pick Your Team:</label>
    <select name="picked_team" id="picked_team">
        <option value="">Please Select The Team To Follow</option>
        <!--option value="Washington">University of Washington</!--option>-->
        <option value="Harvard">Harvard</option>
        <!--
        <option value="UGA">University of Georgia</option>
        <option value="California">University of California</option>
            -->
    </select>

    <input type="submit" id="submit" required class="col-md-4 col-md-offset-4"/>
</form>

<div class="row">
<div class="row_articles">
    <div class="col-md-6">
        <h2 id="ResultsHeader">News Articles</h2>
        @if (@Model != null)
        {
            foreach (var article in @Model.NewsArticles)
            {
                <div class="articleResult">

            
                    <a href=@article.articleURL target="_blank">@article.Title</a><br />
                    <div class="articleAbstract">
                        <p>@article.summary</p>
                    </div>
                </div>
            }
        }

    </div>
</div>
<div class="row_articles">
    <div class="col-md-6">
        <h2>Results</h2>
        @if (Model != null)
        {
            foreach (var race in Model.Races)
            {
                <div class="articleResult">
                    <h4>@race.Regatta</h4>
                    <div class="articleAbstract">
                        @foreach (var result in race.Results)
                        {

                            if (result.Race == race)
                            {
                                <p>@result.BoatClass - @result.Time</p>
                            }

                        }
                    </div>
                </div>
                <br />
            }
        }
    </div>
</div>
</div>

<script>
    $('#submit').click(function () {
        $.post('/NewsArticle/Index', $('#team_picker').serialize(), function (teamVM) {
            console.log(teamVM);
            var newsArticles = teamVM.NewsArticles;
            var parentDiv = $('<div>').addClass('parentDiv');
            // change to foreach loop
            for (var num = 0; num < newsArticles.length; num++){
                var div = $('<div>').addClass('articleResult');
                div.append($('<a href="' + newsArticles[num].articleURL + '"' + 'target="_blank">' + newsArticles[num].Title + '</a><br />'));
                div.append($('<div>').addClass('articleAbstract'));
                div.append($('<p>').text(newsArticles[num].summary));
                parentDiv.append(div);
            }
            console.log(parentDiv);
            $('#ResultsHeader').append(parentDiv);
        },
           'json' // I expect a JSON response
        );
        event.preventDefault();

    });
</script>
